<section
  class="mt-20 mb-20 2xl:ml-12 2xl:mr-12 sm:ml-10 sm:mr-10 xss:mr-4 xss:ml-4"
>
  <div
    class="flex items-center justify-center w-full flex-col xss:p-6 border-2"
  >
    <!-- Each Article -->
    <div class="flex border-2 bg-red-200">
      <div class="flex flex-row space-x-5 items-center bg-green-400 m-2">
        <div class="flex size-24 grow-0 justify-start m-2">
          <img src="/assets/find-my-way-high-resolution-logo.png" alt="" />
        </div>
        <div class="flex flex-initial flex-col w-80 h-full justify-around mr-2">
          <div class="flex">
            <h1 class="text-xl font-semibold">Position of the Job</h1>
          </div>
          <div class="flex">
            <h1>hello2</h1>
          </div>
          <div class="flex">
            <h1>hello3</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- each article End -->
  </div>
</section>
