<section
  class="mt-20 mb-20 2xl:ml-12 2xl:mr-12 sm:ml-10 sm:mr-10 xss:mr-4 xss:ml-4"
>
  <div
    class="flex items-center justify-center w-full flex-col xss:p-6 border-2"
  >
    <!-- Each Article -->
    


    <!-- each article End -->
  </div>
</section>
