<section class="dark:bg-gray-800 dark:text-gray-100" style="min-height: 50vh">
  <div
    class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between xl:h-max 2xl:h-max"
  >
    <div
      class="flex items-center 2xl:mr-48 xl:mr-40 lg:mr-24 justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:min-h-96 xl:min-h-112 2xl:min-h-128"
      id="hero-img"
      >
      <img
        src="/assets/Business_SVG.svg"
        alt="Hero_image"
        class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-max"
      />
    </div>
    <div
      class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left"
    >
      <h1 class="text-5xl font-bold leadi sm:text-6xl">
        Ac mattis <span class="dark:text-violet-400">senectus</span>erat
        pharetra
      </h1>
      <p class="mt-6 mb-8 text-lg sm:mb-12">
        Dictum aliquam porta in condimentum ac integer
        <br class="hidden md:inline lg:hidden" />turpis pulvinar, est
        scelerisque ligula sem
      </p>
      <div
        class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start"
      >
        <a
          rel="noopener noreferrer"
          href="#"
          class="px-8 py-3 text-lg font-semibold rounded dark:bg-violet-400 dark:text-gray-900"
          >Know more &darr;
        </a>
        <a
          rel="noopener noreferrer"
          href="#"
          class="px-8 py-3 text-lg font-semibold border rounded-xl bg-purple-400 dark:border-gray-100"
          >Get Started &rarr;</a
        >
      </div>
    </div>
  </div>
  <hr
    class="bg-purple-300 m-auto w-8"
    id="hr--hero-below"
    style="height: 2px"
  />
</section>
