<section class="">
  <div
    class="flex items-center justify-center sm:h-34 md:h-48 lg:h-52 xl:h-56 w-full relative flex-col"
  >
    <div class="text-2xl font-semibold m-5">
      <h1>Our Partners</h1>
    </div>

    <div class="slider flex flex-row space-x-28 overflow-hidden justify-center items-center max-h-32 mt-4 ">

      <div class="slide"><i class="icofont-brand-acer xs:text-6xl sm:text-7xl md:text-8xl 2xl:text-9xl"></i></div>
      <div class="slide"><i class="icofont-brand-adidas xs:text-6xl sm:text-7xl md:text-8xl 2xl:text-9xl"></i></div>
      <div class="slide"><i class="icofont-brand-apple xs:text-6xl sm:text-7xl md:text-8xl 2xl:text-9xl"></i></div>
      <div class="slide"><i class="icofont-brand-android-robot xs:text-6xl sm:text-7xl md:text-8xl 2xl:text-9xl"></i></div>
      <div class="slide"><i class="icofont-brand-asus xs:text-6xl sm:text-7xl md:text-8xl 2xl:text-9xl"></i></div>
      <div class="slide"><i class="icofont-brand-dell xs:text-6xl sm:text-7xl md:text-8xl 2xl:text-9xl"></i></div>
      <div class="slide"><i class="icofont-brand-hyundai xs:text-6xl sm:text-7xl md:text-8xl 2xl:text-9xl"></i></div>
      <div class="slide"><i class="icofont-brand-xiaomi xs:text-6xl sm:text-7xl md:text-8xl 2xl:text-9xl"></i></i></div>

    </div>
  </div>
</section>
<style>
    .slider{
        max-width: 100vw;
        transition: all .8s;
    }
    .slide{
        transition: all .8s;

    }

</style> 


