<section class="sm:h-32">
  <div
    class="flex items-center justify-center max-h-32 w-full relative flex-col"
  >
    <div class="text-2xl font-semibold m-5">
      <h1>Our Partners</h1>
    </div>

    <div class="slider flex flex-row space-x-5 overflow-hidden items-center">
      <div class="slide">
        <i
          class="icofont-brand-acer xs:text-5xl sm:text-7xl md:text-8xl 2xl:text-9xl "
        ></i>
      </div>
      <div class="slide"><img src="" alt="photo2" /></div>
      <div class="slide"><img src="" alt="photo3" /></div>
      <div class="slide"><img src="" alt="photo4" /></div>
      <div class="slide"><img src="" alt="photo5" /></div>
    </div>
  </div>
</section>
