.slider {
  transition: all;
}

.enter--all {
  transition: all;
}
.enter--1 {
  transform: translateY(0);
}
.enter--2 {
  transform: translateY(-100%);
}

.enter--3 {
  transform: translateY(-200%);
}
.enter--4 {
  transform: translateY(-300%);
}

.enter__text {
  opacity: 0;
  transform: translateX(-20%);
}

@keyframes fader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 250px) {
  #hero--text {
    animation: fader 1s ease-in;
    transition: all 1s;
  }
}

#section--2 {
  clip-path: polygon(12% 0, 100% 0, 100% 82%, 88% 99%, 0 100%, 0 15%);
}

#interact {
}
#interact-tab-1 {
  transform: translateY(-100%);
}
#interact-person-1 {
  transform: translateY(-200%);
}

.drawer-navigation {
  transition: all 1s;
}
