.slider {
  transition: all;
}

.enter--all {
  transition: all;
}
.enter--1 {
  transform: translateY(0);
}
.enter--2 {
  transform: translateY(-100%);
}

.enter--3 {
  transform: translateY(-200%);
}
.enter--4 {
  transform: translateY(-300%);
}

.enter__text {
  opacity: 0;
  transform: translateX(-20%);
}

@keyframes fader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 250px) {
  #hero--text {
    animation: fader 1s ease-in;
    transition: all 1s;
  }
}

#section--2 {
  clip-path: polygon(12% 0, 100% 0, 100% 82%, 88% 99%, 0 100%, 0 15%);
}

#interact-tab-1 {
  transform: translateY(-100%);
}
#interact-person-1 {
  transform: translateY(-200%);
}

.drawer-navigation {
  transition: all 1s;
}

.side-menu-item-2 {
  transition: all 1s;
}
.expandNow {
  transform: translateY(-10%);
  scale: 1.05;
  transition: all 0.5s;
}

.expandNow > a {
  color: #65a30d;
}

.navbar-header {
  z-index: 100;
  transition: all;
}

.cusNav {
  animation: fader 0.6s ease-in;
}

#acticle--section {
  clip-path: polygon(11% 0, 100% 0, 100% 100%, 0 100%, 0 16%);
}

@media (min-width: 1536px) {
  #acticleContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.article-hero-section {
  background-image: linear-gradient(
      rgba(126, 126, 126, 0.082),
      rgba(126, 126, 126, 0.082)
    ),
    url('/assets/Tiny people searching for business opportunities-ai.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
