.slider {
  transition: all;
}

.enter--all {
  transition: all;
}
.enter--1 {
  transform: translateY(0);
}
.enter--2 {
  transform: translateY(-100%);
}

.enter--3 {
  transform: translateY(-200%);
}
.enter--4 {
  transform: translateY(-300%);
}
